@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; /* Mencegah scroll horizontal yang tidak diinginkan */
}

/* Custom Scrollbar Hide untuk bagian Partner/Menu */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
